/* Defaults */

html { height: 100%; width: 100%; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-top: 40px; margin: 20px; padding: 0; }
p { margin: 0; }
a { line-height: 1.5; }
a:link { 
	color: black;
	text-decoration: ; }
a:visited { color: black; }
a:hover { color: blue; }

/* Home */

.row {
  display: flex;
}

.column {
  flex: 33%;
}

#header {
  position: fixed;
}

#profilepic {
  max-width: 70%;
  height: auto;
  vertical-align: middle;
}

#bio {
  padding-top: 5%;
}

/* Photos */

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
  grid-gap: 0; /* Remove the gap between columns */
  margin-bottom: 50px;
}

.photos-horizontal {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  grid-gap: 0; /* Remove the gap between columns */
  margin-bottom: 50px;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.photos-horizontal img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

picture {
  margin: 0;
}